@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary: #b91c1c ;
  --secondary : #121b2a;
  --tertiary : #FF9B00;
  --default  : #0000;
}


html,
body {
  @apply bg-white;
  font-family:"Noto Sans Thai","Playpen Sans Thai", cursive;
  font-optical-sizing: auto;


}

main {
  @apply mx-auto max-w-7xl px-4 min-h-screen w-full;
}

.container-x {
    @apply mx-auto max-w-7xl px-4 w-full;
}




button {
  @apply rounded-md px-3 py-2 bg-white text-black/70 duration-150 hover:opacity-90 focus:ring-offset-2 ring-black ring-2 ;
}
