@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary: #b91c1c ;
  --secondary : #001BB7;
  --tertiary : #FF9B00;
  --default  : #0000;
}


html,
body {
  @apply bg-white;
  font-family: "Playpen Sans Thai", cursive;
  font-optical-sizing: auto;


}

main {
  @apply mx-auto max-w-7xl min-h-screen w-full;
}


button {
  @apply rounded-md px-3 py-2;
}